@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray: #EEEEEE;
  --color-black: #1E1E1E;
}

@media (hover: hover) and (pointer: fine) {
  a:hover {
    opacity: .6;
  }
}